<div class="container">
    <div class="text-left">
        <h4>Id: {{user._id}}</h4>
        <h4>name: {{user.name}}</h4>
        <h4>Category: {{user.categoryName.name}}</h4>
        <h4>price: {{user.price}} Rs.</h4>
        <h4>discount: {{user.discount}}%</h4>
        <h4>discountedPrice: {{user.discountedPrice}} RS.</h4>
        <h4>productId: {{user.productId}}</h4>
        <h4>createdAt: {{user.createdAt}}</h4>
        <h4>updatedAt: {{user.updatedAt}}</h4>
    </div>
</div>